
.ArticlePreview
{
margin-bottom: 15px;
}
.ArticleImage
{
  display: flex;
  flex-direction: column;
  height:250px;
  width:100%;
  background-repeat: no-repeat;
  background-size:cover;
}
.ArticleImage h3
{
  color:#252525;
  width:100px;
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom:5px;
  font-size: 60px;
  padding:10px;
}
.articledivide
{
  width:100%;
  color:black;
}
.title
{
  text-align: left;
  margin:30px;
  margin-left: 10px;
}
.articleButton
{
  display:flex;
  justify-content: center;
  align-items: center;
}
.summary
{
  text-align: left;
  padding:10px;
  margin:15px;
}
.backIcon
{
  background-image: url('../../assets/icons/Pil.png');
  background-repeat: no-repeat;
  background-size: 80px 80px ;
  padding:5px;
  width:70px;
  height:70px;
  box-shadow: 2px;
  float: left;
}
.likeIcon
{
  background-image: url('../../assets/icons/heart.png');
  background-repeat: no-repeat;
  background-size: 80px 80px;
  padding:5px;
  width:70px;
  height:70px;
  box-shadow: 2px;
  float:right;
}
