.content
{
  margin:25px;
  height:50vh;
}
.articleFooter
{
  height:6vh;
  background-color: black;
  display:flex;
}
.likes
{
  padding:5px;
  background-image: url('../../assets/icons/heart.png');
  background-repeat: no-repeat;
  background-size: 60px 60px ;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
.back
{
  background-image: url('../../assets/icons/Pil.png');
  background-repeat: no-repeat;
  align-self: center;
  background-size: 60px 60px ;
  padding:5px;
}
.icons
{
  width:50px;
  height:50px;
}
.titleicons
{
  float:right;
  display:flex;
  margin:10px;
}
.read-title
{
float:left;
margin-left:10px;
}
.share
{
  background-image: url('../../assets/icons/shares.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.like
{
  background-image: url('../../assets/icons/Likes.png');
  background-repeat: no-repeat;
  background-size: 60px 60px;
}
