.heart
{
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
height:50vh;
background-color: #252525;
color:white;

}
.heartIcon
{
  background-image: url('../../assets/icons/Likes.png');
  background-repeat: no-repeat;
  background-size: 150px 150px;
  width:150px;
  height:100px;
  margin:1px;
}
