.navbar
{
  background-color: black;
  width:100%;
  height:50px;
  display:flex;
  flex-direction:row;
}
.filterIcon
{
background-image: url('../../assets/icons/logo.png');
background-repeat: no-repeat;
background-size: cover;
margin:10px;
height:30px;
width:86px;
}
.hamburgerNav.closed
{
  transition: 1s;
  display:none;
}
.hamburgerNav.open
{
  width:60vw;
  height:80vh;
  background-color: black;
  opacity: 0.8;
  z-index: 1000;
  margin-top: 50px;
}
.hamburgerIcon
{
  margin-left:auto;
background-color: #E1AB99;
  padding:10px;
}
.hamburgerNav a
{
  text-decoration: none;
  display:block;
  color: white;
  padding:20px;
}
